<table>
	<thead>
		<tr>
			<th>Place</th>
			<th>Essence</th>
			<th>The Goods</th>
		</tr>
	</thead>

	<tbody>
		<% @places.each do |place| %>
			<tr>
				<td><%= place.name %></td>
				<td><img id='tejas' src = '<%= place.picture_url %>' /></td>
				<td class="review" ><%= place.snippet %></td>

				<td><%= link_to 'Show', place %></td>
				<td><%= link_to 'Edit', edit_path(place) %></td>
				<td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
	</tbody>
</table>